<style>
  .color-datos{background-color: rgba(255, 255, 255, 1)}
  .letra-datos-titulos{font-size: 1.6rem}
  .letra-datos-subtitulos{font-size: 1.4rem}
  .letra-datos{font-size: 1.3rem}
  .letra-color{color: rgb(0, 0, 0)}
  .linea-separacion{height: 1px}
  .color-linea-separacion{background-color: rgba(0, 0, 0, 0.8)}
  .prueba{background-color: red}
</style>

<div class="container">
  <div class="linea-separacion color-linea-separacion" id="get_data_div"></div>
</div>


<div class="pt-5 pb-5 color-datos">

  <!-- Titulo -->
  <div class="col-12 mb-2 d-flex justify-content-center text-uppercase letra-datos-titulos letra-color mb-3">
    <%= label_tag "Red inicial" %>
  </div>
  <!-- FIN Titulo -->


  <%= form_tag controller: :main, action: :calcular_redes do %>


  <div class="container">

    <!-- IP Inicial -->
    <div class="row justify-content-center">
      <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
        <%= label_tag :ip_inicial, "Direccion IP Inicial:", class: "letra-datos-subtitulos letra-color" %>
      </div>

      <div class="col-sm-4 col-md-6">
        <% if @calculado %>
          <%= text_field_tag :ip_inicial, @ip_inicial, class: "mw-100 pl-2", disabled: true, id: "focus1" %>
        <% else %>
          <%= text_field_tag :ip_inicial, nil, class: "mw-100 pl-2", required: true, id: "focus1" %>
        <% end %>
      </div>
    </div>
    <!-- FIN IP Inicial -->

    <!-- MSK Inicial -->
    <div class="row justify-content-center">
      <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
        <%= label_tag :msk_inicial, "Máscara (octetos):", class: "letra-datos-subtitulos letra-color" %>
      </div>

      <div class="col-sm-4 col-md-6">
        <% if @calculado %>
          <%= text_field_tag :msk_inicial, @msk_inicial, class: "mw-100 pl-2", disabled: true %>
        <% else %>
          <%= text_field_tag :msk_inicial, nil, class: "mw-100 pl-2", required: true %>
        <% end %>
      </div>
    </div>
    <!-- FIN MSK Inicial -->

  </div>

  <div class="container">
    <div class="linea-separacion color-linea-separacion my-5" id="get_data_div"></div>
  </div>


  <!-- Titulo -->
  <div class="col-12 mb-2 d-flex justify-content-center text-uppercase letra-datos-titulos letra-color">
    <%= label_tag "Información de las subredes" %>
  </div>
  <!-- FIN Titulo -->


  <!-- Insertar datos de cada red -->


    <div class="container">

      <% (1..@numero_redes).each do |num| %>

        <!-- Numero de la red -->
        <div class="row justify-content-center">
          <div class="col-12 mt-3 mb-2 d-flex justify-content-center text-uppercase letra-datos-subtitulos letra-color">
            <%= label_tag "RED No. #{num}" %>
          </div>
        </div>
        <!-- FIN Numero de la red -->

        <!-- Nombre de la red -->
        <div class="row justify-content-center">
          <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
            <%= label_tag "Nombre de la red:", nil, class: "letra-datos letra-color" %>
          </div>

          <div class="col-sm-4 col-md-6">
            <% if @calculado %>
              <%= text_field_tag "red#{num}_nombre", @nombres[num-1], class: "mw-100 pl-2", disabled: true %>
            <% else %>
              <%= text_field_tag "red#{num}_nombre", nil, class: "mw-100 pl-2", required: true %>
            <% end %>
          </div>
        </div>
        <!-- FIN Nombre de la red -->

        <!-- Numero de hosts -->
        <div class="row justify-content-center">
          <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
            <%= label_tag "Número de host:", nil, class: "letra-datos letra-color mt-2" %>
          </div>

          <div class="col-sm-4 col-md-6">
            <% if @calculado %>
              <%= number_field_tag "red#{num}_hosts", @hosts[num-1], class: "mw-100 pl-2", disabled: true %>
            <% else %>
              <%= number_field_tag "red#{num}_hosts", nil, min: 1, class: "mw-100 pl-2", required: true %>
            <% end %>
          </div>
        </div>
        <!-- FIN Numero de hosts -->

      <% end %>


      <!-- Numero de redes -->
      <%= hidden_field_tag :no_redes, @numero_redes %>
      <!-- FIN Numero de redes -->


      <% (1..@numero_seriales).each do |num| %>

        <!-- Numero del enlace serial -->
        <div class="row justify-content-center">
          <div class="col-12 mt-3 mb-2 d-flex justify-content-center text-uppercase letra-datos-subtitulos letra-color">
            <%= label_tag "SERIAL No. #{num}" %>
          </div>
        </div>
        <!-- FIN Numero del enlace serial -->

        <!-- Nombre del enlace serial -->
        <div class="row justify-content-center">
          <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
            <%= label_tag "Nombre del enlace serial:", nil, class: "letra-datos letra-color" %>
          </div>

          <div class="col-sm-4 col-md-6">
            <% if @calculado %>
              <%= text_field_tag "serial#{num}_nombre", @nombres[@numero_redes + num-1], class: "mw-100 pl-2", disabled: true %>
            <% else %>
              <%= text_field_tag "serial#{num}_nombre", nil, class: "mw-100 pl-2", required: true %>
            <% end %>
          </div>
        </div>
        <!-- FIN Nombre del enlace serial -->

      <% end %>

      <!-- Numero de redes -->
      <%= hidden_field_tag :no_seriales, @numero_seriales %>
      <!-- FIN Numero de redes -->


      <!-- Numero de redes -->
      <%= hidden_field_tag :calculado, :true %>
      <!-- FIN Numero de redes -->


      <div class="row justify-content-center mt-sm-3 mt-md-5">
        <% if @claculado %>
          <%= submit_tag 'Calcular', class: "btn btn-success button-click", disabled: true %>
        <% else %>
          <%= submit_tag 'Calcular', class: "btn btn-success button-click" %>
        <% end %>
      </div>

    </div>

  <% end %>
  <!-- FIN Insertar datos de cada red -->

</div>
