<style>
  .color-res{background-color: rgba(255, 255, 255, 1)}
  .letra-res-titulos{font-size: 1.6rem}
  .letra-res-subtitulos{font-size: 1.4rem}
  .letra-res{font-size: 1.3rem}
  .letra-res-color{color: rgb(0, 0, 0)}
  .linea-res{height: 1px}
  .color-linea-res{background-color: rgba(0, 0, 0, 0.8)}
</style>


<div class="container">
  <div class="linea-res color-linea-res" id="show_res_div"></div>
</div>


<div class="pt-5 pb-5 color-datos">

  <!-- Titulo -->
  <div class="col-12 mb-2 d-flex justify-content-center text-uppercase letra-res-titulos letra-color mb-3">
    <%= label_tag "Resultados" %>
  </div>
  <!-- FIN Titulo -->


  <div class="container">

    <!-- Mostrar resultados -->
    <% @resultados.map do |r| %>

      <!-- Nombre de la red -->
      <div class="row justify-content-center">
        <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
          <%= label_tag "Nombre de la red:", nil, class: "letra-res letra-res-color" %>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4 offset-lg-1">
          <%= label_tag r[:nombre], nil, class: "mw-100 letra-res letra-res-color" %>
        </div>
      </div>
      <!-- FIN Nombre de la red -->


      <!-- Direccion de red -->
      <div class="row justify-content-center">
        <div class="col-sm-5 offset-sm-2 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
          <%= label_tag "Dirección de red:", nil, class: "letra-res letra-res-color" %>
        </div>

        <div class="col-sm-5 col-md-6 col-lg-4 offset-lg-1">
          <%= label_tag "#{r[:red]}  /#{r[:mascara_num]}", nil, class: "letra-res letra-res-color" %>
        </div>
      </div>
      <!-- FIN Direccion de red -->

      <!-- Mascara de la red -->
      <div class="row justify-content-center">
        <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
          <%= label_tag "Máscara de red:", nil, class: "letra-res letra-res-color" %>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4 offset-lg-1">
          <%= label_tag r[:mascara], nil, class: "mw-100 letra-res letra-res-color" %>
        </div>
      </div>
      <!-- FIN Mascara de la red -->

      <!-- Primer host de la red -->
      <div class="row justify-content-center">
        <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
          <%= label_tag "Primer host:", nil, class: "letra-res letra-res-color" %>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4 offset-lg-1">
          <%= label_tag r[:primer_host], nil, class: "mw-100 letra-res letra-res-color" %>
        </div>
      </div>
      <!-- FIN Primer host de la red -->

      <!-- Ultimo host de la red -->
      <div class="row justify-content-center">
        <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
          <%= label_tag "Ultimo host:", nil, class: "letra-res letra-res-color" %>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4 offset-lg-1">
          <%= label_tag r[:ultimo_host], nil, class: "mw-100 letra-res letra-res-color" %>
        </div>
      </div>
      <!-- FIN Ultimo host de la red -->

      <!-- Total de hosts -->
      <div class="row justify-content-center">
        <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
          <%= label_tag "Total de hosts:", nil, class: "letra-res letra-res-color" %>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4 offset-lg-1">
          <%= label_tag r[:host_total], nil, class: "mw-100 letra-res letra-res-color" %>
        </div>
      </div>
      <!-- FIN Total de hosts -->

      <!-- Direccion de broadcast -->
      <div class="row justify-content-center">
        <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-2 col-lg-4 offset-lg-2">
          <%= label_tag "Broadcast:", nil, class: "letra-res letra-res-color" %>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4 offset-lg-1">
          <%= label_tag r[:broadcast], nil, class: "mw-100 letra-res letra-res-color" %>
        </div>
      </div>
      <!-- FIN Direccion de broadcast -->

      <% unless r == @resultados.last%>
        <!-- Linea divisora -->
        <div class="container">
          <div class="row justify-content-center mt-4 mb-5">
            <div class="col-3 linea-res color-linea-res"></div>
          </div>
        </div>
        <!-- FIN Linea divisora -->
      <% end %>


    <% end %>
    <!-- FIN Mostrar resultados -->

  </div>

</div>
