<!DOCTYPE html>
<html>
  <head>
    <title>VLSM | Calculadora</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'jk_logo' %>
  </head>

  <style>
    html{font-size: 16px}
  </style>

  <body class="mt-5">

    <%= render 'partials/navbar' %>

    <%= yield %>

    <%= render 'partials/footer' %>
  </body>

</html>
